* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: rgb(116, 9, 84);
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: #10090100;
  color: rgb(116, 9, 84);
  margin-left: -62px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.formulario__input {
  border-radius: 2rem;
  padding: 2px 20px;
  max-width: 350px;
}
.esconder {
  display: none;
}

.botaoProximo{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  border: none;
  text-decoration: none;
}

.botaoProximo:hover{
  color: white;
}

.botaoVoltar{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  text-decoration: none;
}

.botaoVoltar:hover{
  color: white;
}

.botaoFinalizarCadastro{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  text-decoration: none;
}

.botaoLogar{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  text-decoration: none;
}

.login{
  text-align: center;
}

.campoLogar{
  border-radius: 2rem;
  max-width: 350px;
}

.selecionarBalada{
  text-decoration: none;
  color: black;
}

.semConta{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  text-decoration: none;
}
.imagemPerfil{
  border-radius: 100rem;
  max-width: 150px;
  margin: auto;
}

.card-text-balada{
  font-size: 12px;
}

/* .temperaturaQuente{
filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);;
}
.temperaturaFria{
filter: blur(0px) brightness(100%) contrast(100%) drop-shadow(3px 3px 1px #00b3ff) grayscale(0%) hue-rotate(50deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
} */

